@font-face {
  font-family: 'NanumBarunGothic';
  src: url('/static/NanumBarunGothic.ttf') format('truetype');
}

body {
    background: rgb(238, 238, 240);
    font-family: 'NanumBarunGothic';
}

.title {
  color: #6580ce;
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
}

.help, .text {
  text-align: center;
  color: #343434;
  font-size: 20px;
}

.setting {
  width: 100%;
}

.prev_track, .current_track {
  outline:none;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 15px;
  float: left;
  width: 13%;
  height: 5vh;
  transition:.3s;
  text-align: center;
  display: inline-block;
  border: 2px solid #cccccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: 'NanumBarunGothic';
}

.prev_track:focus, .current_track:focus {
  border-color:#6580ce;
  box-shadow:0 0 4px 0 #6580ce;
}

.queue {
  outline:none;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 15px;
  float: left;
  width: 55%;
  height: 5vh;
  transition:.3s;
  text-align: center;
  display: inline-block;
  border: 2px solid #cccccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: 'NanumBarunGothic';
}

.queue:focus {
  border-color:#6580ce;
  box-shadow:0 0 4px 0 #6580ce;
}

.submit {
  color: #1c854f;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 15px;
  float: left;
  width: 12%;
  height: 5vh;
  text-align: center;
  display: inline-block;
  background-color: #cbf2de;
  border: 2px solid #cccccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: 'NanumBarunGothic';
}

.submit:active {
  background-color: #9fd4b8;
}

.container {
  background-color: #f8f8f8;
  width: 80vw;
  margin: 0 auto;
  height: 50vh;
  border-radius: 15px;
  box-shadow: 20px 20px 50px #e0e0e0;
  text-align: left;
}

.algo {
  margin-left: 30px;
  font-size: 25px;
}
